.App {
  padding: 30px 0 15px;
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 15px;
}

.table tbody:hover {
  cursor: pointer;
}

.card {
  background-color: rgba(255,255,255,0.85);
}

.table .table {
  background-color: rgba(255,255,255,0.85);
}

.recipe-box {
  background-color: rgba(255,255,255,0.85);
  padding: 10px;
}